 <div class="avatar">
   <img src="assets/img/avatar.png" alt="Avatar">
</div>

 <div class="user-details">
  <p>
  I'm a data scientist and Naval Officer who currently works as an Operations Research Analyst for Navy Recruiting Command HQ (NRC). Prior to being stationed at NRC I attended the Naval Postgraduate School and obtained my Master's degree in Operations Research. 
  <a href="https://hdl.handle.net/10945/71116">Read my thesis here!</a> My best work comes from working with clients who are willing to make data driven decisions to better their business. Feel free to contact me to discuss how your data can work for you.
  </p>
  
</div>

<div class="row hide-if-small-screen" style="padding-top: 5%">
  <div class="col-lg-12 text-center">
    <svg width="1000" height="100">
      <line x1="0" y1="50" x2="1000" y2="50" style="stroke:black; stroke-width:1.5"></line>

      <circle cx="12" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2"></circle>
      <text text-anchor="middle" x="12" y="80" fill="black">2015</text>

      <text font-size="13" text-anchor="middle" x="125" y="30" fill="black">Instructor/Project Manager</text>
      <text style="font-style: italic" font-size="13" text-anchor="middle" x="125" y="80" fill="#808080">Naval Nuclear Power School</text>

      <circle cx="250" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2"></circle>
      <text text-anchor="middle" x="250" y="80" fill="black">2018</text>
      <!-- <text font-size="13" text-anchor="middle" x="70" y="30" fill="black">Data Analyst</text>
      <text style="font-style: italic" font-size="13" text-anchor="middle" x="90" y="80" fill="#808080">French Institute of Research</text> -->
      <text font-size="13" text-anchor="middle" x="375" y="30" fill="black">Division Director: Nuclear Physics</text>
      <text style="font-style: italic" font-size="13" text-anchor="middle" x="370" y="80" fill="#808080">Naval Nuclear Power School</text>

      <circle cx="500" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2"></circle>
      <text text-anchor="middle" x="500" y="80" fill="black">2020</text>

      <text font-size="13" text-anchor="middle" x="620" y="30" fill="black">Grad Student, Operations Research</text>
      <text style="font-style: italic" font-size="13" text-anchor="middle" x="620" y="80" fill="#808080">Naval Postgraduate School</text>

      <circle cx="740" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#69b3a2"></circle>
      <text text-anchor="middle" x="740" y="80" fill="black">2022</text>

      <text font-size="13" text-anchor="middle" x="880" y="30" fill="black">Deputy Director of Analytics and BI</text>
      <text style="font-style: italic" font-size="13" text-anchor="middle" x="880" y="80" fill="#808080">Navy Recruiting Command HQ</text>

    </svg>
  </div>
</div>



<div class="user">
  <div class="tech">
    <h2>Business Analytics </h2>
  <div class="icons">
    <i class="fa-solid fa-chart-line"></i>

    </div>
    <p>
      With a strong background in the Navy recruiting enterprise, I pride myself in being able to help clients make their data work for them. Everyone produces data so why not use it for your own benefit?
    </p>
  </div>

  <div class="tech">
    <h2>Machine Learning</h2>
  <div class="icons">
    <i class="fa-solid fa-laptop-code"></i>

    </div>
    <p>
      I'm strongly convinced that machine learning models should not go to waste in Jupyter Notebooks.
      Using my software engineering skills, I've built and deployed AI services which create real business value.
    </p>
  </div>
  <div class="tech">
    <h2>Dashboards and Visualizations</h2>
  <div class="icons">
    <i class="fa-solid fa-chalkboard-user"></i>

    </div>
    <p>
      I enjoy public speaking, writing professional articles, sharing my knowledge and discussing diverse topics.
      Thanks to my training and experience in science communication, I'm able to present complex results to a non-technical audience.
    </p>
  </div>
</div>
