<div class="user-details">
  <h1> Projects and Portfolio </h1>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/density_plot_3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Spotify Feature Analysis on GitHub </h3>
    Spotify's API offers so much information about songs on its platform. Are there underlying similarities between songs of different genres? How easy is it to classify a song into distinct genres?
      <p align="center"><a class="project-link" href="https://erikvvargas.github.io/portfolio">Read More Here</a></p>
  </div>
</div>


</div>
